.appsList__openerBox {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
  transition: background 0.1s;
}

.appsIcon {
  font-size: 22px;
  transition: color 0.2s;
  border-radius: 50%;
  margin-left: 7.25px;
}

.appsList__container {
  min-width: 325px;
  max-height: 450px;
  padding: 20px 10px 15px 10px;
  border: 1px solid rgba(211, 211, 211, 0.747);
  box-shadow: 1px 1px 7px 1px rgba($color: #000000, $alpha: 0.2);
  border-radius: 10px;
  position: fixed;
  top: 0rem;
  right: 0rem;
  z-index: 500;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.searchPage__appsList {
  top: 5rem;
  right: 1rem;
}

.homePage__appsList {
  top: 4rem;
  right: 1.5rem;
}

.appsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.rowTwo,
.rowThree,
.rowFour,
.rowFive {
  margin-top: 1.75rem;
}

.App {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 13px;
  transition: background 0.2s;
}

.appsIcon__box {
  width: 70px;
  height: 50px;
  align-items: center;

  .appsList__avatar {
    margin-left: 14px;
    width: 39px;
    height: 39px;
    margin-top: 3.75px;
  }
}

.avatarExtra__margin {
  padding-top: 3px;
}

.appsList__image {
  margin-left: 14px;
  max-width: 42.75px;
}

.driveLogo {
  min-width: 49px;
  margin-left: 10px;
}

.playstoreLogo {
  max-width: 39px;
  margin-top: 1.5px;
}

.photosClass {
  max-width: 46.5px;
  margin-left: 11.65px;
}

.translateClass {
  max-width: 49.5px;
  margin-top: -3.25px;
  margin-left: 10px;
}

.contactsClass {
  max-width: 34px;
  margin-top: 3.5px;
  margin-left: 16.5px;
}

.calenderLogo {
  max-width: 46px;
  margin-left: 12px;
  margin-top: -2px;
}

.appsList__title {
  font-size: 14.25px;
  margin: 2px auto 2px;
  text-align: center;
}

.accountClass {
  margin: 0 0 2px 0;
}

.title {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.account__title {
  margin-left: -9px;
  margin-top: -6px;
}

.google__title {
  margin-left: -5.5px;
  margin-top: 8px;
}

.playstore__title {
  margin-left: -0.5px;
  margin-top: 7px;
}

.youtube__title {
  margin-top: 5px;
  margin-left: -8.25px;
}

.gmail__title {
  margin-top: 5px;
  margin-left: -2.75px;
}

.maps__title {
  margin-top: 5px;
  margin-left: -3.75px;
}
