.homePage__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.homePage__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 30px;
}

.homePage__header a {
  font-size: 14px;
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  margin-right: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.homePage__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homePage__appsIcon {
  margin-right: 22px;
  margin-top: 7.5px;
}

.homePage__headerRight > .avatar {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.homePage__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 6.1%;
}

.homePage__body img {
  object-fit: contain;
}

.homePage__logo {
  width: 270px;
  margin: 0 auto;
}

@import "./searchComponent";
