// Search Bar

.homePage__header__searchBar {
  display: flex;
  align-items: center;
  border: 1px solid rgba(211, 211, 211, 0.966);
  height: 30px;
  padding: 22px 20px;
  width: 75vw;
  margin: 0 auto;
  border-radius: 999px;
  margin-top: 1.75rem;
  max-width: 575px;

  &:hover {
    box-shadow: 0px 2px 7px -1.25px rgba($color: #000000, $alpha: 0.22);
  }

  input {
    flex: 1;
    font-size: medium;
    font-family: "Roboto" sans-serif;
    font-weight: 400;
    border: none;
    padding: 10px 13px;
  }
}

.input__Icon {
  margin: -0.1rem;
  font-size: 19.75px;
}

.mic__icon {
  width: 14px;
}

// Buttons /////////

.search__Btns {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
}

.noNeed__searchBtns {
  display: none !important;
}

.search__Btns > button {
  margin: 5px;
  padding: 7px 15px;
  text-transform: inherit;
  border: 1px solid white;

  &:hover {
    box-shadow: 0 1px 1px rgba($color: #000000, $alpha: 0.1);
    border: 1px solid #c6c6c6be;
  }
}

// Search Page Search Component Styling

.searchPage__header__searchBar {
  display: flex;
  align-items: center;
  border: 1px solid rgba(211, 211, 211, 0.966);
  height: 30px;
  padding: 21.5px 20px;
  width: 75vw;
  z-index: 101;
  margin: 0 auto;
  border-radius: 999px;
  max-width: 600px;
  margin-top: -2px;

  &:hover {
    box-shadow: 0px 2px 7px -1.25px rgba($color: #000000, $alpha: 0.22);
  }

  input {
    flex: 1;
    font-size: 16px;
    border: none;
    padding: 10px 5px;
    letter-spacing: normal;
    z-index: 500;
  }
}

.hide__searchIcon {
  opacity: 0;
  font-size: 8px;
}
